/* .ag-theme-balham {
  --ag-foreground-color: rgb(43, 52, 119);
  --ag-header-column-resize-handle-color: rgb(43, 52, 119);

  --ag-font-size: 17px;
  --ag-font-family: monospace;
} */

/* .ag-theme-balham {
  --ag-foreground-color: rgb(126, 46, 132);
  --ag-background-color: rgb(249, 245, 227);
  --ag-header-foreground-color: rgb(204, 245, 172);
  --ag-header-background-color: rgb(209, 64, 129);
  --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
  --ag-header-column-resize-handle-color: rgb(126, 46, 132);
  --ag-font-size: 17px;
  --ag-font-family: monospace;
} */

.ag-theme-alpine {
  /* --ag-header-foreground-color: #fff;
  --ag-header-background-color: #253777;
  --ag-header-column-resize-handle-color: #253777;

  --ag-font-size: 17px !important;
  --ag-font-family: monospace !important; */

  --ag-header-background-color: rgb(209, 64, 129, 0.8);
  --ag-header-foreground-color: #fff;
  font-size: 14px !important;
}

.ag-theme-balham {
  font-size: 14px !important;
}
